html {
  --primary: #ff0266;
  --backgroundColor: #fff;
  --primaryLink: #31639c;
  --primaryText: #212121;
  --secondaryText: #7b7b7b;
  --pokedexBg: #dd0a2d;
}

html[data-theme="dark"] {
  --primary: #ff7597;
  --primaryTheme: #ff0266;
  --backgroundColor: #1a1a1d;
  --primaryLink: #8bb9dd;
  --primaryText: rgba(255, 255, 255, 0.8);
  --secondaryText: rgba(255, 255, 255, 0.6);
}
